.App {
  text-align: center;
}

#map {
  width: 100%;
  height: 100vh;
}

/* These styling options are loaded from the standard tutorial on loading Google Maps JavaScript API at:
https://developers.google.com/maps/documentation/javascript/tutorial  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 147, 206);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}